mixin demoMixin (options)
  - options = options || {}
  - classes = ['example-class']
  - text = options.text || ''
  - if(options.classes)
    - classes.push(options.classes)
  p(class=classes)&attributes(attributes)= text
