include _mixins
block vars
doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title= pageTitle || 'Scaffold'
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style/scaffold.css", media="all")
    block head

  body
    #page
      block content

    #hidden
        script(src='script/scaffold.min.js')
        block hidden
