$base-font: sans-serif;
$base-background: #fff;
$base-foreground: #222;

body {
	background: $base-background;
	color: $base-foreground;
	font-family: $base-font;
}

.css .not {
	display: none;
}