extends _default
block vars
	- var pageTitle = "Hello, cruel world!"
block content

	h1= pageTitle

	img(src="image/test-image.png", alt="Image to test copy is working")

	+demoMixin({
		'text': 'Pug mixins are working.'
	})

	p.css 
		| CSS has
		span.not  not 
		|  loaded.
